apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
        - name: log-output
          image: oezkan00/log-output:v1.0
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
