apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: oezkan00/ping-pong:v3.0
          env:
            - name: DATABASE_URL
              value: "postgres://postgres:pongs123@postgres-svc:5432/pong_db"
