apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: log-pvc
      containers:
        - name: todo-app
          image: oezkan00/todo-app:v1.3
          volumeMounts:
            - name: storage
              mountPath: /usr/src/app/files
