apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: log-pvc
      containers:
        - name: todo-app
          image: oezkan00/todo-app:v2.1
          env:
            - name: BACKEND_URL
              value: "http://todo-backend-svc:80/todos"
            - name: PORT
              value: "3000"
          volumeMounts:
            - name: storage
              mountPath: /usr/src/app/files
